
<h1><%= @question.title %></h1>
          Resolved:<%= check_box_tag 'Resolved', 0, @question.resolved?, disabled: true %>
<p><%= @question.body %></p>
<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
<%= link_to "Delete", question_path(@question), class: 'btn btn-danger' , method: :delete %>
